.button-more {
  padding: 10px;
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}



.jobs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45;
  row-gap: 26px;
  justify-items: center;
}

/* Media query for smaller screens */
@media only screen and (max-width: 767px) {
  .jobs-container {
    grid-template-columns: 1fr;
    gap: 20px;
    row-gap: 16px;
  }

  .button-more {
    margin-top: 20px;
    font-size: 16px;
  }
}